<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
    <body>
        <style>
            div.container-fluid {
                display: inline-block;
                text-align: justify;
            }
            div:after {
                content:"";
                display: inline-block;
                width: 100%;
            }
        </style>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3" style="background-color:yellow;">
        {% if waiting %} 
        <ul>
            {% for dish in waiting %}   
            <li>
                {{ dish.table_number }}
            </li>
            <li>
                {{ dish.Date }}
            </li>
            <li>
                {{ dish.ref }}
            </li>
            <li>
                {{ dish.starters }}
                
           
            </li>
            <li>
                {{ dish.mains }}
                
            </li> 
            <li>
                {{ dish.deserts }}
                
            </li><br>
            {% endfor %}
        </ul>
        {% else %}
            <p>No orders to waiting for service.</p>
        {% endif %}
        <ul>
        </div>
        </div>
        </div>
{% if order_list %} 


    {% for order in order_list %} 
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3" style="background-color:yellow;">  
    <li>
        {{ order.table_number }}
    </li>
    <li>
        {{ order.Date }}
    </li>
    <li>
        {{ order.ref }}
    </li>
    <li>
        {{ order.starters }}
        
    <a href="{% url 'update_starter' order.table_number %}">Serve</a>
    </li>
    <li>
        {{ order.mains }}
        <a href="{% url 'update_main' order.table_number %}">Serve</a>
    </li> 
    <li>
        {{ order.deserts }}
        <a href="{% url 'update_desert' order.table_number %}">Serve</a>
    </li><br>
</div>
</div>
</div>
    {% endfor %}
</ul>
{% else %}
    <p>No orders to view.</p>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>